
.AlbumCardContainer {
    display: flex;
    padding: 10px;
    width: 90%;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 1vh;
    box-shadow: rgba(59, 59, 59, 0.2) 0px 8px 24px;
    background-color: rgb(39, 39, 39);
    color: rgb(196, 196, 196);
    justify-content: space-between

}

.AlbumCover {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border-radius: 50px;

}

.AlbumCardInfo {
    display: flex;
    align-items: center;
}