
.AlbumList{
    margin: 0 auto;
    width: 90vw;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 35vh;
    overflow-y: scroll;
    
}

.AlbumListContainer{
    margin: 1vh auto;
    width: 90vw;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(70, 69, 69);
}